<!-- views/partials/header.ejs -->

<style>
    .navbar {
        background-color: #3b5998;      
    }
    .navbar-brand {
        color:white;
    }
    .nav.navbar-nav li a {
        color: white;
    }
    body {
        background-color: #f7f7f7;
    }
</style>
   
<nav class="navbar navbar-dark "   role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="fab fa-facebook-f glyphicon glyphicon glyphicon-tree-deciduous "></span>
                Facebook
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/uploadData">Add Friends</a></li>
                <li><a href="/showData">Friend List</a></li>
                <li><a href="/searchData">Unfriend</a></li>
                <!--<li><a href="/error">Error</a></li>-->

            </ul>
        </div>
    
    </div>
    </nav>