
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <style>


        .jumbotron, .well {
            background-color: #dfe3ee !important;
            height: 80%;
        }
    </style>
    <main>
        <div class="jumbotron">
            <h2>Add your friend</h2>

            <!--<%if (dataArray != null) { %>

               <ul class="list-group">
                   <% for(var i=0; i<dataArray.length; i++) {%>
                     <li class="list-group-item"><%= "Title:  " + dataArray[i].id + "             Date: " + dataArray[i].date %></li>
                   <% } %>
                 </ul>


               <% } %>

            -->
            <br>

            <br />
            <label for="movie">Friend Name:</label>
            <input class="form-control" type="text" id="movie" name="movie"><br>
            <label for="date">Phone Number:</label>
            <input class="form-control" type="text" id="date" name="date"><br>
            <button class="btn btn-primary  " onclick="updateURL();">Add another friend </button>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script type="text/javascript">// our menu calls this page URL with no ?id= value,
        // so code needs to check for that
        // when user enters data, I append the data using the required ?id=


        function updateURL() {

            var myURL = (document.location).toString();
            var n = myURL.indexOf("?");
            myURL = myURL.substr(0, n);
            document.location = myURL + "?id=" + document.getElementById("movie").value + "&date=" + document.getElementById("date").value;



        }</script>

</body>
</html>